.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: black;
}

nav ul {
  float: right;
  margin: 10px;
  display: flex;
  padding: 15px 10px;
}

.logo {
  width: 100px;
  height: 70px;
  margin-left: 100px;
}

.nav-bar a {
  margin: 0 0 0 100px;
  color: white;
  padding: 15px 15px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

nav a:hover {
  background: pink;
  transition: 0.5s;
}

.background {
  background-image: linear-gradient(215deg, #dfe6e9, #fd79a8, #2d3436);
}

.title {
  margin: 100px;
  text-align: center;
}
.h3 {
  text-align: center;
}

.Name {
  margin-left: -600px;
}
.date {
  margin-left: -600px;
}
.item {
  margin-left: -600px;
}

.radio {
  width: 850px;
  text-align: center;
  padding-top: 2%;
  margin-right: 25px;
  display: inline-block;
  line-height: 20px;
}
.yes {
  width: 10%;
  margin: 0px;
}
.no {
  width: 10%;
  margin: 0px;
}

label {
  width: 600px;
  display: inline-block;
  text-align: right;
}

input[type="text"] {
  width: 30%;
  padding: 10px 20px;
  margin: 10px 10;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
}
input[type="email"] {
  width: 25%;
  padding: 10px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
}

input[type="date"] {
  width: 30%;
  padding: 10px 0;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
}
.enter {
  margin-right: 60px;
}
.subscribe {
  margin: 20px;
  padding-top: 1%;
  padding-left: 3%;
}

.submit-button {
  padding: 10;
  margin: 10px, 20px;
}

@media screen(width:660px;){
  body{
    background-color: none;}
  

